In [2]:
import pandas as pd
import os

In [6]:
os.getcwd()
root_path = os.path.join(os.getcwd(),'..')

In [8]:
os.chdir(os.path.abspath(root_path))

In [ ]:
df = pd.read_csv('211210-DRM-total.csv')

In [10]:
metal_df = df.iloc[:,2:25]
supporting_df = df.iloc[:,25:70]
pretreat_df = df.iloc[:,70:77]
operating_df = df.iloc[:,77:]

In [12]:
pretreat_df

,Preparation,Calcination T,Calcination time,Reduction T,Reduction time,Reduction H2,Reaction T
0,4,700.0,5.0,800.0,2.0,33.33,600.0
1,4,700.0,5.0,800.0,2.0,33.33,600.0
2,4,700.0,5.0,800.0,2.0,33.33,600.0
3,4,700.0,5.0,800.0,2.0,33.33,600.0
4,4,700.0,5.0,800.0,2.0,33.33,600.0
...,...,...,...,...,...,...,...
5903,5,300.0,6.0,1000.0,24.0,40.00,700.0
5904,5,300.0,6.0,1000.0,24.0,40.00,750.0
5905,5,300.0,6.0,1000.0,24.0,40.00,800.0
5906,5,300.0,6.0,1000.0,24.0,40.00,850.0
5907,5,300.0,6.0,1000.0,24.0,40.00,900.0